/* -----------------------------------------------------------------------------
	Copyright (c) 2019-2022 Shane Harris. All rights reserved.
----------------------------------------------------------------------------- */



:root {
	--colour-background-primary: unset;
	--colour-background-hover: rgb(0 0 0 / 0.1);
	--colour-text-primary: black;
	--colour-text-secondary: unset;
	--colour-text-tertiary: unset;
	--colour-code-background: #1e1e1e;
	--colour-code-border: black;
	--colour-border: #777;
	--colour-scheme: light;
}

:root[data-theme='dark'] {
	--colour-background-primary: black;
	--colour-background-hover: rgb(255 255 255 / 0.05);
	--colour-text-primary: white;
	--colour-text-secondary: #dbdbdb;
	--colour-text-tertiary: #a4a4a4;
	--colour-code-background: inherit;
	--colour-code-border: #373737;
	--colour-border: #373737;
	--colour-scheme: dark;
}

html {
	color-scheme: var(--colour-scheme);
}

body {
	margin: auto;
	padding: 0 1rem;
	background-color: var(--colour-background-primary);
	color: var(--colour-text-secondary);
	max-width: 8.5in;
	font-family: system-ui;
	text-align: center;
	line-height: 1.5;
}

button {
	padding: 0.5rem 1rem;
	background-color: inherit;
	color: var(--colour-text-primary);
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	line-height: inherit;
	border-radius: 0.5rem;
	border: 1px solid var(--colour-border);
}

button:hover {
	background-color: var(--colour-background-hover);
	border-color: var(--colour-text-primary);
	cursor: pointer;
}

button:active {
	background-color: inherit;
}



/* -----------------------------------------------------------------------------
	<header>...</header>
----------------------------------------------------------------------------- */

header {
	margin: 3rem 0;
	margin-top: 1rem;
}

header h1,
header h2 {
	margin: 0;
}



/* -----------------------------------------------------------------------------
	<main>...</main>
----------------------------------------------------------------------------- */

main .monitor {
	margin-bottom: 1rem;
	padding: 0 0.5rem;
	background-color: var(--colour-code-background);
	height: clamp(50vmin, 25vmax, 400px);
	text-align: left;
	line-height: 1.2;
	border-radius: 0.5rem;
	border: 1px solid var(--colour-code-border);
	overflow-y: auto;
}

@media screen and (min-width: 1000px) {
	main .monitor::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	main .monitor::-webkit-scrollbar-thumb {
		background-color: rgb(255 255 255 / 0.2);
		border-radius: 0.5rem;
	}

	main .monitor::-webkit-scrollbar-thumb:hover {
		background-color: rgb(255 255 255 / 0.4);
	}
}

main .monitor>code {
	color: white;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

main .input.display-flex {
	display: flex;
	align-items: baseline;
	gap: 0.5rem;
}

main .text-input {
	flex-grow: 1;
	padding-bottom: 0.25rem;
	background-color: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border: none;
	border-bottom: 1px solid var(--colour-border);
	outline: none;
}

main .text-input:hover {
	background-color: var(--colour-background-hover);
	border-color: var(--colour-text-primary);
}

main .text-input:focus {
	background-color: inherit;
	color: var(--colour-text-primary);
	border-color: var(--colour-text-primary);
}

main .icon-arrow {
	--size: 0.5rem;
	display: inline-block;
	padding: 3px;
	width: var(--size);
	height: var(--size);
	border: solid var(--colour-text-primary);
	border-width: 0 3px 3px 0;
	transform: rotateZ(-45deg);
	box-sizing: border-box;
}



/* -----------------------------------------------------------------------------
	<footer>...</footer>
----------------------------------------------------------------------------- */

footer {
	margin: 3rem 0;
	color: var(--colour-text-tertiary);
}

#theme-toggle-button::before {
	content: attr(data-theme);
	margin-right: 0.5rem;
}